*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.app{
    background-color: rgb(0, 0, 0);
    width: 100wv;
    min-height: 100vh;
}
a{
    text-decoration: none !important;
    color: white !important;
    padding: 10px !important;
    text-align: center !important;
}