 .main{
 
    border: 2px solid white;
    width: 100vw;
}
.chatpanel{
    display: flex;
    height: 82vh;
    overflow-y: hidden;
    border: 2px solid white;
}
.messagebox{
    width: 87vw;
    overflow-y: auto;
    border: 2px solid white;
    padding-bottom: 50px;
}
.user-online{
    width: 12vw;
    min-width: 150px;
    padding: 10px;
    overflow-y: auto;
    border: 2px solid white;
}

.main>form{
    width: 100%;
    padding: 10px;
}
.main>form>input{
    font-size: 20px;
}
.main>form>input[type="text"]{
    min-width:85%;
    padding: 5px;
    border-radius: 5px;
}
.main>form>input[type="submit"]{
    width:20%;
    padding: 5px;
}

.main>form>.emoji-holder{
    position: relative;
    display: inline;
}
.main>form>.emoji-holder>span{
        padding: 3px;
        text-align: center;
        cursor: pointer;
        font-size: 26px;
}
.main>form>.emoji-holder>label>span{
    padding: 3px;
    text-align: center;
    cursor: pointer;
    font-size: 26px;
} 

@media screen and (max-width : 880px) {
    .main>form>input[type="text"]{
        min-width:75%;
        padding: 5px;
        border-radius: 5px;
    }
    .messagebox{
        width: 85%;
    }
    .user-onlines{
        width: 15%;
    }
    .chatpanel{
        height: 78vh;
    }
}
@media screen and (max-width : 680px) {
    .main>form>input[type="text"]{
        min-width:55%;
        padding: 5px;
        border-radius: 5px;
    }
    .chatpanel{
        height: 78vh;
    }
    .messagebox{
        width: 95%;
    }
    .user-onlines{
        width: 80px;
    }
   
}